<script src="https://cdn.jsdelivr.net/npm/kaeon-united-utilities/kaeonUnitedSingularityScript.js"></script>

<script>

	function executeCommand(args) {

		require("kaeon-united")("aceUtils").traceKaeonACE(
			require("kaeon-united")(),
			[
				{
					components: {
						type: { component: { } },
						environment: { javascript: { } }
					},
					filter: (item) => {
						return item.components.locations != null;
					}
				}
			]
		).map(item => {
			return require(Object.keys(item.components.locations)[0]);
		}).forEach((item) => {

			try {
				item(args, () => { });
			}

			catch(error) {

			}
		});
	}

	function getURLArguments(raw) {

		let vars = {};

		window.location.href.replace(
			/[?&]+([^=&]+)=([^&]*)/gi,
			function(m, key, value) {
			
				vars[
					raw ?
						decodeURIComponent(key) :
						decodeURIComponent(key).toLowerCase()
				] = decodeURIComponent(value);
			}
		);

		return vars;
	}

	executeCommand(getURLArguments());

</script>